{
	"parser": "babel-eslint",
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:jsx-a11y/recommended"
	],
	"env": {
		"browser": false,
		"es6": true,
		"node": true
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"globals": {
		"window": true,
		"document": true,
		"localStorage": true,
		"sessionStorage": true,
		"XMLHttpRequest": true
	},
	"plugins": [
		"react",
		"jsx-a11y"
	],
	"settings": {
		"react": {
			"pragma": "React"
		}
	},
	"rules": {
		"arrow-parens": ["warn", "as-needed"],
		"arrow-spacing": "warn",
		"block-scoped-var": "warn",
		"brace-style": [ "warn", "stroustrup", {
			"allowSingleLine": true
		}],

		"comma-dangle": [ "warn", "always-multiline" ],
		"comma-spacing": "warn",
		"comma-style": "warn",

		"curly": "warn",
		"dot-notation": "warn",
		"eol-last": "error",
		"eqeqeq": "warn",

		"func-call-spacing": [ "warn", "never" ],
		"func-style": [ "error", "declaration", {
			"allowArrowFunctions": true
		}],
		"generator-star-spacing": "warn",
		"indent": [ "warn", 2, {
			"MemberExpression": 0,
			"SwitchCase": 1
		}],
		"jsx-quotes": "error",
		"new-parens": "error",

		"no-caller": "error",
		"no-console": "off",
		"no-duplicate-imports": "error",
		"no-else-return": "warn",
		"no-eval": "error",
		"no-extra-label": "warn",
		"no-floating-decimal": "warn",
		"no-lonely-if": "warn",
		"no-mixed-operators": "warn",
		"no-multi-str": "error",
		"no-negated-in-lhs": "warn",
		"no-shadow": "warn",
		"no-undef-init": "error",
		"no-unused-expressions": "error",
		"no-useless-computed-key": "warn",
		"no-useless-constructor": "warn",
		"no-useless-rename": "warn",
		"no-useless-return": "warn",
		"no-var": "error",
		"no-whitespace-before-property": "warn",

		"object-curly-spacing": [ "error", "always" ],
		"prefer-const": "warn",
		"prefer-rest-params": "warn",
		"quote-props": [ "error", "as-needed" ],
		"quotes": [ "warn", "single", {
			"allowTemplateLiterals": true
		}],

		"rest-spread-spacing": ["warn", "never"],
		"semi-spacing": "warn",
		"semi-style": [ "warn", "last" ],
		"semi": [ "error", "always" ],

		"space-before-blocks": "warn",
		"space-before-function-paren": "warn",
		"space-infix-ops": "warn",
		"space-in-parens": ["warn", "never"],
		"spaced-comment": ["warn", "always"],
		"template-curly-spacing": "warn",
		"yield-star-spacing": "warn",

		"valid-jsdoc": ["warn", {
			"requireReturn": false,
			"requireReturnDescription": false,
			"requireParamDescription": false
		}],

		"react/display-name": "off",
		"react/jsx-curly-spacing": "off",
		"react/jsx-equals-spacing": "error",
		"react/jsx-indent": [ "warn", 2 ],
		"react/jsx-indent-props": [ "warn", 2 ],
		"react/jsx-key": "error",
		"react/jsx-uses-react": "error",
		"react/jsx-uses-vars": "error",
		"react/jsx-tag-spacing": "warn",
		"react/no-children-prop": "off",
		"react/no-find-dom-node": "warn",
		"react/no-unescaped-entities": "off",
		"react/prop-types": "off",

		"jsx-a11y/label-has-for": [ "error", { "required": "id" }],
		"jsx-a11y/media-has-caption": "off",
		"jsx-a11y/no-noninteractive-tabindex": "off",
		"jsx-a11y/role-has-required-aria-props": "off"
	}
}
