// Dropzones
.editor-block-drop-zone {
  &.is-dragging-default {
		.components-drop-zone__content {
			display: flex!important;
			flex-direction: column;
			justify-content: center;
			background-color: rgba(#0085ba, 0.6);
			transform: none!important;
			top: 0;
			bottom: 0;
		}
	}
}
