// temp solution to override colors of template

.has-pale-pink-background-color {
	background-color: #f78da7!important;
}

.has-vivid-red-background-color {
	background-color: #cf2e2e!important;
}

.has-luminous-vivid-orange-background-color {
	background-color: #ff6900!important;
}

.has-luminous-vivid-amber-background-color {
	background-color: #fcb900!important;
}

.has-light-green-cyan-background-color {
	background-color: #7bdcb5!important;
}

.has-vivid-green-cyan-background-color {
	background-color: #00d084!important;
}

.has-pale-cyan-blue-background-color {
	background-color: #8ed1fc!important;
}

.has-vivid-cyan-blue-background-color {
	background-color: #0693e3!important;
}

.has-very-light-gray-background-color {
	background-color: #eeeeee!important;
}

.has-cyan-bluish-gray-background-color {
	background-color: #abb8c3!important;
}

.has-very-dark-gray-background-color {
	background-color: #313131!important;
}

.has-pale-pink-color {
	color: #f78da7!important;
}

.has-vivid-red-color {
	color: #cf2e2e!important;
}

.has-luminous-vivid-orange-color {
	color: #ff6900!important;
}

.has-luminous-vivid-amber-color {
	color: #fcb900!important;
}

.has-light-green-cyan-color {
	color: #7bdcb5!important;
}

.has-vivid-green-cyan-color {
	color: #00d084!important;
}

.has-pale-cyan-blue-color {
	color: #8ed1fc!important;
}

.has-vivid-cyan-blue-color {
	color: #0693e3!important;
}

.has-very-light-gray-color {
	color: #eeeeee!important;
}

.has-cyan-bluish-gray-color {
	color: #abb8c3!important;
}

.has-very-dark-gray-color {
	color: #313131!important;
}
