.media-library__popover {
  > div {
    padding: 1em;
  }

  .media-library__popover__content {
    max-height: 465px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 1em;

    .media-library-thumbnail {
      width: 100px;
      height: 100px;
      border: 1px solid #e2e4e7;
      padding: 5px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: hsla(240,5%,57%,.1);

      &:hover {
        cursor: pointer;
        box-shadow: inset 0 0 0 1px rgba(25,30,35,.2), 0 1px 3px rgba(25,30,35,.4);
      }
    }
  }
}
