$totalColumns: 12;

.wp-block-gutenbergjs-row {
	display: block;
	margin-left: -$block-padding;
	margin-right: -$block-padding;

	> .editor-inner-blocks {
		display: grid;
		grid-auto-flow: dense;
		grid-gap: 0;
		grid-template-columns: repeat($totalColumns, 1fr);

		.editor-block-list__layout {
			// This max-width is used to constrain the main editor column, it should not cascade into columns
			.editor-block-list__block {
				max-width: none;
				margin-left: 0px;
				margin-right: 0px;
			}
		}
	}
}
